@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	
}	
	
body {
	background-image: url(../img/aviao\ asa.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
/* FORMAS DE PAGAMENTO */
.formas {
	
	font-size: medium;
	text-transform: uppercase;
	margin-top: 40px;
	padding: 15px;
}
#PG {
	height: 20px;
	display: inline-flex;
}
#PG a {
	
	flex-direction: row;
	align-items: center;
	padding: 0px;
}
#PG a {
	list-style:none; 
	text-decoration:none; 
} 
#PG a img {
	height: 40px;
	width: 80px;
}
/* FORMAS DE PAGAMENTO */
#Viagens {
	margin-left: 10%;
	font-weight:bold;
	text-shadow: 3px 3px 2px rgb(73, 73, 73);	
}
.card-title {
	font-size: 4rem; 
	font-weight:bold;
}
.card-text {
	
	font-weight:700;
}
#text1 {
	margin-left: 2.5%;
	font-size: 2rem;
}
#text2 {
	margin-top: 15px;
	font-style: italic;
	font-size: 1.5rem;
}
.card-img-overlay {
	
	margin-top: 15%;
	font-size: 20px; 
	font-weight:bold;
}
#logo > a > img {
	margin-left: 50%;
	
	
}
#container {
	width: 69vw;
	margin-left: 15%;
	margin-right: 10%;
	padding: 2% 10%;
	border-style: outset;
	background-color: rgba(129, 129, 129, 0.322);
	color: white;

}
.container-sm {
	
    height: 45vh;
    padding: 2rem;
	margin: 1% 20% 1% 20%;
}
.card-img {
	
	object-fit: cover;
	height: 60vh;
	width: 100vw;

}
.list-group {
	max-width: 69vw;
	align-self: center;
	margin-left: 15%;
	
}
.footer-bs {
	margin-top: 5%;
	background-color: #3c3d41;
	opacity: 0.7;
	padding: 20px 20px;
	color: rgba(255,255,255,1.00);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
	width: 100%;
}
#titulo {
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight:bold;
	text-shadow: 3px 3px 2px rgb(73, 73, 73);
	font-size: 2.7rem;
}
#Voo {
	text-transform: uppercase;
	padding: 20px;
	
}
#De {
	margin-top: 35px;
	height: 40px;
	width: 60px;
}
#Para {
	
	width: 60px;
	height: 40px;
	transform: translate(-475%, 275%);
	border-top-left-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
#data2 {
	height: 40px;
	width: 175px;
	transform: translate(180%, -80%);
}
#data1 {
	height: 40px;
	width: 175px;
	transform: translate(180%, -115%);	
}
#passageiro {
	transform: translate( 2%, -70%);
}
#dataida {
	font-size: small;
	transform: translate(39%, -230%);
}
#datavolta {
	font-size: small;
	transform: translate(38.5%, -160%);
}
#inlineFormInputGroup1 {
	height: 40px;
	margin-top: 35px;
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}
#inlineFormInputGroup2 {
	height: 40px;
	transform: translate(-125%, 275%);
}	
#inlineFormSelectPref1 {
	transform: translate(-60%, 149%);
	width: 70px;
	height: 35px;
}
#Adulto {
	font-size: small;
	transform: translate( -70%, 580%);
}
#inlineFormSelectPref2 {
	height: 35px;
	width: 70px;	
	transform: translate(-60%, 115%);
}
#Criança {
	font-size: small;
	transform: translate( -70%, 520%);
}
#Enviar {
	width: 120px;
	transform: translate(-20%, 140%);
}	
.list {
	display: flex;
	flex-direction: column;
}
.pages {
	flex-direction: column;
	align-content: center;   
}
#roda {
	flex-wrap: nowrap;
	display: flex;
}

/*         FOOTER              */

.footer-bs {
	background-color: #3c3d41;
	opacity: 0.8;
	padding: 5px 5px;
	color: rgba(255,255,255,1.00);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
  
.row {
	display: flex; 
	flex-wrap: nowrap;
}
  
#logo-footer > img {
	margin-left: 45%;
	max-width: 340px;
	max-height: 120px;
	
}
.footer-brand {
	margin-left: 20px;
	margin-right: 20px;
}
  
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
	
	padding:25px 25px;   
}
  
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
  
.footer-bs .footer-brand h2 { 
	margin:0px 0px 20px; 
	
}
  
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }
  
.footer-bs .footer-nav ul.pages { 
	list-style:none; 
	text-decoration:none; 
	padding:10px;
}
  
.footer-bs .footer-nav ul.pages li { 
	padding:8px 5px;
}
  
.footer-bs .footer-nav ul.pages a { 
	color:rgba(255,255,255,1.00); 
	font-weight:bold; 
	text-transform:uppercase;
	text-decoration: none;
	
}
  
.footer-bs .footer-nav ul.pages a:hover { 
	color: #6298e1;
	text-decoration:none; 
	transition: color 900ms;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
.footer-bs .footer-nav h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:16px;
  
}
  
.footer-bs .footer-nav ul.list { 
	list-style:none; 
	padding:10px; 
}
  
.footer-bs .footer-nav ul.list li { 
	padding: 0px;
}
  
.footer-bs .footer-nav ul.list a { 
	color:rgba(255,255,255,0.80); 
	
}
#logof {
	width: 25%;
	margin-right: 15%;
	margin-left: 2%;
}
#menu {
	list-style:none;
	text-decoration: none;
	width: auto;
}
#news {
	width: 30%;
}
#social {
	width: auto ;
}
  
.footer-bs .footer-nav ul.list a:hover { 
	color: #6298e1; 
	text-decoration:none; 
	transition: color 900ms;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
  
}
  
.footer-bs .footer-social ul { 
	list-style:none; 
	padding:5px; 
	text-decoration:none; 
}
  
.footer-bs .footer-social h4 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 16px;
}
  
.footer-bs .footer-social li { padding:12px 10px;}
  
.footer-bs .footer-social a { 
	color:rgba(255,255,255,1.00);
	text-decoration: none;
}
  
.footer-bs .footer-social a:hover { 
	color: #6298e1;
	text-decoration:none; 
	transition: color 900ms;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
  
.footer-bs .footer-ns h4 {
	font-size: 15px;
	text-transform: none;
	letter-spacing: 3px;
	margin-bottom:20px;
	margin-right: 10px;
}
  
.footer-bs .footer-ns p { 
	font-size:14px; color:rgba(255,255,255,0.70);
	position: relative;
	padding-bottom: 10px;
}
  
.form-control {
	width: 350px;
	height: 35px;
}
  
.btn-news {
	width: 40px;
	height: 39px;
	position: absolute;
	transform: translate( 3%, -7%);
}
  
#letter {
	margin: 0;
	padding: 0;
	font-size: 14px;
	
}
  
.copyright {
	text-align: center;  
	color: rgba(197, 195, 195, 0.637);
	font-size: small;
	background-color: black;
	opacity: 0.8;
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 20px;
}
	
  
  @media (min-width: 450px) {
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { margin-right: 50px; border-left:solid 2px rgba(255,255,255,0.10); }
}  